page-home {
	.formulario{       
		padding: 1%;
		width: 80%;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-color: rgba(245,191,55,0.71);
		
	}
	img{
		background-size: cover;
		width: auto;
height: auto;
		
	}
}
